<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>KITEPROJECT</title>
		<link rel="stylesheet" href="http://localhost:8080/static/styles.css" />
	</head>
	<body>
		<header>
			<h1>KITEPROJECT</h1>
			<a href="/">View share</a>
			<!--<a href="/add-share">Add New share &#x27A2;</a>-->
		</header>
	</body>
</html>
